<%- include("header"); -%>

<h1>  <%= listHeader %> </h1>

<ul>
	
	<% for (i = 0; i < listArray.length ; i++) { %>
		<input type="checkbox">
		<p> <%= listArray[i] %>  </p>
	<% } %>
	
</ul>

<form method="post" action="/">
	<input type="text" name="listItem" placeholder="Item">
	<button type="submit" name="list" value=<%= listValue %> >+</button>
</form>

<%- include("footer"); -%>
